<!DOCTYPE html>
<html>
<head>

    <title>Ng Material Design - Starter App</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <style type="text/css">
        /* Std AngularJS CSS: Load in page so cloaking starts immediately */
        [ng\:cloak],
		[ng-cloak],
		[data-ng-cloak],
		[x-ng-cloak],
		.ng-cloak,
		.x-ng-cloak,
		.ng-hide:not(.ng-hide-animate) {
			display: none !important;
		}
		ng\:form {
			display: block;
		}
        .ng-cloak {
            opacity: 0;
        }
		.ng-animate-shim{
			visibility:hidden;
		}
		.ng-anchor{
			position:absolute;
		}

		/* Std MSOS CSS: notify popup */
		#notify_container {
			position: absolute;
			width: 18em;
			z-index: 9999;
		}
		.notify {
			background-color: #111;
			border-radius: 0.4em;
			margin-bottom: 1em;
			opacity: 0.9;
			padding: 1.2em;
		}
		.notify:hover {
			opacity: 1;
		}
		.notify_title {
			font-weight: bold;
		}
		.notify_title,
		.notify_msg {
			color: #FFF;
			font-size: larger;
			margin-bottom: 0.4em;
			padding: 0 0.4em;
		}
		.notify > i {
			float: left;
		}
		.notify_display > button {
			float: right;
		}
		.notify > i.info {
			color: blue;
		}
		.notify > i.warning {
			color: yellow;
		}
		.notify > i.error {
			color: red;
		}
		.notify > i.success {
			color: green;
		}
		.notify > i.loading {
			color: orange;
		}
		.notify {
			-webkit-box-shadow:0 0 12px #999;
					box-shadow:0 0 12px #999;
		}
		.notify:hover {
			-webkit-box-shadow:0 0 12px #000;
					box-shadow:0 0 12px #000;
		}
    </style>

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="../mobilesiteos/ng/material/css/v105.uc.css" />
    <link rel="stylesheet" href="./app.css" />

	<link rel='shortcut icon' href='../mobilesiteos/images/osm.ico' />

	<script src="../mobilesiteos/msos/base.min.js"></script>
	<script src="./config.js"></script>
</head>

<body layout="row" ng-controller="UserController as ul" ng-cloak>

    <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">

        <md-toolbar class="md-whiteframe-z1">
            <h1>Users</h1>
        </md-toolbar>

        <md-list>
            <md-list-item ng-repeat="it in ul.users">
                <md-button ng-click="ul.selectUser(it)" ng-class="{'selected' : it === ul.selected }">
                    <md-icon md-svg-icon="{{it.avatar}}" class="avatar"></md-icon>
                    {{it.name}}
                </md-button>
            </md-list-item>
        </md-list>

    </md-sidenav>


    <div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">

        <md-toolbar layout="row" class="md-whiteframe-z1">
            <md-button class="menu" hide-gt-sm ng-click="ul.toggleList()" aria-label="Show User List">
                <md-icon md-svg-icon="menu"></md-icon>
            </md-button>
            <h2>NgMomentum - Ng Material Design - Starter App</h2>
        </md-toolbar>

        <md-content flex id="content">
            <h2>Material Design Starter App Using NgMomentum version of AngularJS</h2>
            <h3>
                <a href="./std_md.html">Std AngularJS</a> :: <a href="../angularjs">Demo Index</a>
            </h3>
            <md-icon md-svg-icon="{{ul.selected.avatar}}" class="avatar"></md-icon>
            <h2>{{ul.selected.name}}</h2>
            <p>{{ul.selected.content}}</p>

            <md-button class="contact" md-no-ink ng-click="ul.showContactOptions($event)" aria-label="Contact User">
                <md-tooltip>Contact {{ ul.selected.name }}</md-tooltip>
                <md-icon md-svg-icon="share"></md-icon>
            </md-button>
        </md-content>

    </div>

    <script type="text/javascript">

    msos.onload_func_pre.push(
        function () {
            "use strict";

            // Prepare the 'users' module for subsequent registration of controllers and delegates (from Users.js)
            angular.module('users', ['ngMaterial']);

            angular
                .module('users')
                .controller(
                    'UserController',
                    ['userService', '$mdSidenav', '$mdBottomSheet', '$log', '$q', UserController]
                );

                /**
                 * Main Controller for the Angular Material Starter App
                 * @param $scope
                 * @param $mdSidenav
                 * @param avatarsService
                 * @constructor
                 */
                function UserController( userService, $mdSidenav, $mdBottomSheet, $log, $q) {
                    var self = this;

                    self.selected     = null;
                    self.users        = [ ];
                    self.selectUser   = selectUser;
                    self.toggleList   = toggleUsersList;
                    self.showContactOptions  = showContactOptions;

                    // Load all registered users

                    userService
                        .loadAllUsers()
                        .then(
                            function (users) {
                                self.users    = [].concat(users);
                                self.selected = users[0];
                            }
                        );

                    // *********************************
                    // Internal methods
                    // *********************************

                    /**
                     * First hide the bottomsheet IF visible, then
                     * hide or Show the 'left' sideNav area
                     */
                    function toggleUsersList() {
                        console.log('index.html - toggleUsersList -> called.');

                        var pending = $mdBottomSheet.hide();

                        if (!pending) {
                            pending = $q.when($q.defer('app_when_toggleUsersList'), true);
                        }

                        pending.then(
                            function () {
                                console.log('index.html - toggleUsersList -> then called.');
                                $mdSidenav('left').toggle();
                            }
                        );
                    }

                    /**
                     * Select the current avatars
                     * @param menuId
                     */
                    function selectUser(user) {
                        console.log('index.html - selectUser -> called.');

                        self.selected = angular.isNumber(user) ? $scope.users[user] : user;
                        self.toggleList();
                    }

                    /**
                     * Show the bottom sheet
                     */
                    function showContactOptions($event) {
                        var user = self.selected;

                        $log.debug('index.html - showContactOptions -> called.');
                        /**
                         * Bottom Sheet controller for the Avatar Actions
                         */
                        function ContactPanelController($mdBottomSheet) {
                            $log.debug('index.html - ContactPanelController -> called.');

                            this.user = user;
                            this.actions = [
                                { name: 'Phone'       , icon: 'phone'       , icon_url: './svg/phone.svg'},
                                { name: 'Twitter'     , icon: 'twitter'     , icon_url: './svg/twitter.svg'},
                                { name: 'Google+'     , icon: 'google_plus' , icon_url: './svg/google_plus.svg'},
                                { name: 'Hangout'     , icon: 'hangouts'    , icon_url: './svg/hangouts.svg'}
                            ];
                            this.submitContact = function (action) {
                                $log.debug('index.html - ContactPanelController - submitContact -> called.');
                                $mdBottomSheet.hide(action);
                            };
                        }

                        return $mdBottomSheet.show(
                            {
                                parent: angular.element(document.getElementById('content')),
                                templateUrl: './contactSheet.html',
                                controller: [ '$mdBottomSheet', ContactPanelController],
                                controllerAs: "cp",
                                bindToController : true,
                                targetEvent: $event
                            }
                        ).then(
                            function (clickedItem) {
                                clickedItem && $log.debug('index.html - ContactPanelController -> ' + clickedItem.name + ' clicked!');
                            }
                        );
                    }
                }

				// From UserService.js
				angular.module(
					'users'
				).service(
					'userService',
					['$q', UserService]
				);

                /**
                 * Users DataService
                 * Uses embedded, hard-coded data model; acts asynchronously to simulate
                 * remote data service call(s).
                 *
                 * @returns {{loadAll: Function}}
                 * @constructor
                 */
				function UserService ($q) {
					"use strict";

                    var users = [
                        {
                          name: 'Lia Lugo',
                          avatar: 'svg-1',
                          content: 'I love cheese, especially airedale queso. Cheese and biscuits halloumi cauliflower cheese cottage cheese swiss boursin fondue caerphilly. Cow port-salut camembert de normandie macaroni cheese feta who moved my cheese babybel boursin. Red leicester roquefort boursin squirty cheese jarlsberg blue castello caerphilly chalk and cheese. Lancashire.'
                        },
                        {
                          name: 'George Duke',
                          avatar: 'svg-2',
                          content: 'Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris.'
                        },
                        {
                          name: 'Gener Delosreyes',
                          avatar: 'svg-3',
                          content: "Raw denim pour-over readymade Etsy Pitchfork. Four dollar toast pickled locavore bitters McSweeney's blog. Try-hard art party Shoreditch selfies. Odd Future butcher VHS, disrupt pop-up Thundercats chillwave vinyl jean shorts taxidermy master cleanse letterpress Wes Anderson mustache Helvetica. Schlitz bicycle rights chillwave irony lumberhungry Kickstarter next level sriracha typewriter Intelligentsia, migas kogi heirloom tousled. Disrupt 3 wolf moon lomo four loko. Pug mlkshk fanny pack literally hoodie bespoke, put a bird on it Marfa messenger bag kogi VHS."
                        },
                        {
                          name: 'Lawrence Ray',
                          avatar: 'svg-4',
                          content: 'Scratch the furniture spit up on light gray carpet instead of adjacent linoleum so eat a plant, kill a hand pelt around the house and up and down stairs chasing phantoms run in circles, or claw drapes. Always hungry pelt around the house and up and down stairs chasing phantoms.'
                        },
                        {
                          name: 'Ernesto Urbina',
                          avatar: 'svg-5',
                          content: 'Webtwo ipsum dolor sit amet, eskobo chumby doostang bebo. Bubbli greplin stypi prezi mzinga heroku wakoopa, shopify airbnb dogster dopplr gooru jumo, reddit plickers edmodo stypi zillow etsy.'
                        },
                        {
                          name: 'Gani Ferrer',
                          avatar: 'svg-6',
                          content: "Lebowski ipsum yeah? What do you think happens when you get rad? You turn in your library card? Get a new driver's license? Stop being awesome? Dolor sit amet, consectetur adipiscing elit praesent ac magna justo pellentesque ac lectus. You don't go out and make a living dressed like that in the middle of a weekday. Quis elit blandit fringilla a ut turpis praesent felis ligula, malesuada suscipit malesuada."
                        }
                    ];

                    // Promise-based API
                    return {
                        loadAllUsers: function () {
                            // Simulate async nature of real remote calls
                            return $q.when($q.defer('app_when_loadAllUsers'), users);
                        }
                    };
                }

                // Start the app
                angular.module(
                    'starterApp',
                    ['ngMaterial', 'users']
                ).config(
					['$mdThemingProvider', '$mdIconProvider', function ($mdThemingProvider, $mdIconProvider) {
						"use strict";

						$mdThemingProvider.theme('default')
							.primaryPalette('brown')
							.accentPalette('red');

						$mdIconProvider.defaultIconSet("./svg/avatars.svg", 128)
							.icon("menu",			"./svg/menu.svg", 24)
							.icon("share",			"./svg/share.svg", 24)
							.icon("google_plus",	"./svg/google_plus.svg", 512)
							.icon("hangouts",		"./svg/hangouts.svg", 512)
							.icon("twitter",		"./svg/twitter.svg", 512)
							.icon("phone",			"./svg/phone.svg", 512);
					}]
                );
            }
        );

        msos.onload_func_done.push(
            function () {
                "use strict";

                angular.bootstrap('body', ['starterApp']);
            }
        );

    </script>

</body>
</html>